.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    
}

.lista__menu__titulo,
.lista__menu__item{
    padding: 1em;
    background-color: var(--cor-branca);
}

.lista__menu__titulo{
    color: var(--cor-padrao);
    font-weight: 700;
}

.lista__menu__link{
    background: var(--cor-icones);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao:checked ~ .lista__menu{
    display: block;
}

.container__botao{
    display: none;
}



/*.texto__banner{
    padding: 30px 30px;
}

.titulo__banner{
    margin-bottom: 5%;
    font-size: 18px;
    font-weight: 700;
}

.titulo__secundario{
    font-weight: 500;
    margin-bottom: 10%;
}

.banner__pesquisa{
    border-width: 2px;
    border-radius: 24px;
    text-align:center;
    border-color: var(--cor-branca);
    background-color: var(--cor-icones);
    width: 25em;
    padding: 4%;
    background-image: url(../assets/lupa.svg);
    background-repeat: no-repeat;
    background-position: 14%;
    display: inline-block;

}*/